</main>
    <footer>
        <div>
        <label class="switch">
            <input class="theme" type="checkbox">
            <span class="slider round"></span>
          </label>
        </div>
    </footer>
    </body>
    </html>