<header>
    <div class="wrapper-nav">
  <nav>
    <a href="/index"><img src="/images/02-funda-Blue.png"" alt="home-Icon" height="100" width="100"/></a>
    <!-- <button class="navButton"></button> -->
    <div class="openbtn"><div class="openbtn-area"><span></span><span></span><span></span></div></div>
    <ul>
      <li><a href="">kopen</a></li>
      <li><a href="">huren</a></li>
      <li><a href="">verkopen</a></li>
      <li><a href="">mijnhuis</a></li>
    </ul>
  </nav>
  <nav>
    <a href="/lijsten">favoriete <i class='bx bxs-home-heart'></i>
    </a>
    <a href="">User <i class='bx bx-user-circle' ></i>
    </a>
  </nav>
</div>
</header>

  