<div>
    <label for="theme-Switch" class="switch">
        <!-- Verander thema -->
        <input id="theme-Switch" class="theme" type="checkbox">
        <span class="slider round"></span>
      </label>
    </div>