*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-color: var(--oranje);
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

header > nav{
    padding-top: 0.3em;
    line-height: 30px;
}

h1{
    font-size: var(--h1-mobile);
}

h2{
    font-size: var(--h2-mobile);
}

a{
    text-decoration: none;
    font-weight: var(--dun);
    font-size: var(--s);
}

span{
    text-decoration: none;
    color: #0071B3;
    font-weight: var(--dun);
    font-size: var(--s);
}

nav span{ 
    color: var(--wit);
    /* line-height: 30px; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.desktop-header-list-container{
    display: none;
    gap: 0.5em;
    margin-right: auto;
}

.desktop-header-list > a{
    color: var(--wit);
}

.header-list-container{
    display: flex;
    gap: 0.5em;
}

.header-list-element, .menu{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.funda-logo{ 
    margin-top: auto;
    margin-bottom: auto;
    width: 100px;
    height: 100%;
}

.homepage-selector a{
    text-decoration: none;
    color: var(--donkerblauw);
}

.homepage-selector{
    display: none;
    margin: 1em 0 1em 0;
}

.foto1{ 
    width: 100%;
}

.foto-nav{
    border-bottom: solid rgba(230, 230, 230, 1);
    margin-bottom: 1em;
}

.foto-nav ul{
    margin: 1em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-snap-type: mandatory;
    width: 100%;
} 

.foto-nav ul::-webkit-scrollbar{
    display: none;
}

.foto-nav a{
    position: relative;
}

.svg-container{
    position: absolute;
    bottom: 45px;
    left: 50px;
}

.foto-nav > ul > li > a > div > img{
    width: 100%;
    height: 100%;
    border-radius: 4px; 
    object-fit: cover;
}

.foto-nav li:first-child img{
    border: solid #E6E6E6 1px;
}

.foto-nav > ul > li > a > span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--donkerblauw);
}

.foto-nav > ul > li > a{
    text-decoration: none;
}

.img-container{
    width: 128px;
    height: 80px; 
}

.titel-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    margin-top: 8px;
}

.titel-container span{
    color: var(--donkerblauw);
}

.titel-container svg{
    display: none;
}

.alle-media-listelement{
    display: none;
}

.alle-media-listelement a{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: flex-end;
}

.heart-container span{
    display: none;
}

.heart-container, .share-container{
    background-color: var(--wit);
    width: 2.5em;
    height: 2.5em;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-container{
    display: flex;
    gap: 8px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
    margin-right: 1em;
}

.media{
    position: relative;
}

.foto-counter{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 1em;
    margin-bottom: 1em;
}

#full-heart {
    display: none; 
}

#empty-heart {
    display: block; 
} 

.heart-container > button{
    border: none;
    background-color: var(--wit);
}  

#favoriet {
    position: relative;
}

.counter{
    line-height: 1em;
    position: absolute;
    top: -5px;
    right: 10px;
    background-color: var(--donkerblauw);
    color: var(--wit);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.foto2, .foto3, .foto4, .foto5{
    display: none;
}

.nieuw-label{
    background-color: var(--oranje);
    width: 70px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nieuw-label span{
    color: var(--wit);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

section{
    margin-left: 1em;
    margin-right: 1em;
}

@media only screen and (min-width: 400px) {
    h1{
        font-size: var(--h1-tablet);
    }
    a, span{
        font-size: var(--m);
    }
    .counter{
        top: -5px;
        right: 20px;
    }
}

@media only screen and (min-width: 750px) {
    .header-list-container{
        gap: 2em;
    }
    .desktop-header-list-container{
        gap: 2em;
    }
}

@media only screen and (min-width: 650px) {
    h1{
        font-size: var(--h1-desktop);
    }

    h2{
        font-size: var(--h2-desktop);
    }

    .header-list-element{
        flex-direction: row;
        gap: 0.5em;
    }

    .desktop-header-list-container{
        display: flex;
    }

    .menu-list-container{
        display: none;
    }

    .funda-logo{
        margin-right: 2em;
    }

    .img-container, .svg-container{
        display: none;
    }

    .titel-container{
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .titel-container svg{
        display: flex;
    }

    .alle-media-listelement{
        display: flex;
        margin-left: auto;
    }

    .main-img-container{
        display: grid;
        grid-template-columns: 1fr 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        border-radius: 50px;
        gap: 5px;
    }

    .foto1{
        grid-column: 1/2;
        grid-row: 1/3;
        border-radius: 10px 0 0 10px;
        height: 100%;
    }

    .foto2{
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .foto3{
        display: grid;
        width: 100%;
        height: 100%;
        grid-row: 1/2;
        grid-column: 3/4;
        object-fit: cover;
        border-radius: 0 10px 0 0;
    }

    .foto4{
        display: grid;
        width: 100%;
        height: 100%;
        grid-column: 2/3;
        grid-row: 2/3;
        object-fit: cover;
    }

    .foto5{
        display: grid;
        width: 100%;
        height: 100%;
        grid-column: 3/4;
        grid-row: 2/3;
        object-fit: cover;
        border-radius: 0 0 10px 0;
    }
    
    .heart-container{
        gap: 0.5em;
        width: fit-content;
        padding: 0 1em 0 1em;
    }
    .heart-container span{
        display: flex;
    }

    .homepage-selector{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 450px;
        margin-left: 1em;
    }

    .counter{
        top: -1px;
        right: 75px;
    }

}
