*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--oranje);
    width: 100%;
    height: 75px;
}

.foto1{ 
    width: 100%;
}

.foto-nav > ul{
    margin-left: 1em;
    margin-right: 1em;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: nowrap;
} 

.foto-nav > * {
    margin-top: 0.5em;
}

.foto-nav > ul > li > a > div > img{
    width: 100%;
    height: 100%;
    border-radius: 4px; 
    object-fit: cover;
}

.foto-nav li:first-child img{
    border: solid #E6E6E6 1px;
}

.foto-nav > ul > li > a > span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto-nav > ul > li > a{
    text-decoration: none;
}

span{
    font-weight: 400;
    font-size: 14px;
    color: #0071B3;
    line-height: 35px;
}

.foto-nav li div {
    width: 8em;
    height: 5em; 
}

.foto-nav{
    overflow-x: scroll;
    scroll-snap-type: mandatory;
}