<!DOCTYPE html>
<html lang="nl">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <%- include('./partials/theme-button') %>
      <section class="wrapper-index">
        <img src="/images/download.svg" alt="afbeelding-huis" height="100" width="100" />
        <h1>Welkom bij funda</h1>
      </section>
    </main>
    <%- include('./partials/foot') %>
  </body>
</html>
