<%- include('./partials/head') %>

<section class="wrapper-index">
    <img src="/images/download.svg" alt="" height="100" width="100">
    <h1>Welkom bij funda</h1>
</section>

<%- include('./partials/foot') %>