<%- include('./partials/head') %>

<ul>
  <% if (lists && lists.length > 0) { %> <% lists.forEach(list => { %>
  <li>
    <img src="/images/download.svg" alt="" height="200" width="200">
    <h2><%= list.title %></h2>
    <form action="/lijsten/<%= list.id %>" method="GET">
      <button type="submit">Bekijk lijst</button>
    </form>
  </li>
  <% }) %> <% } else { %>
  <p>No lists available.</p>
  <% } %>
</ul>

<%- include('./partials/foot') %>
