<!DOCTYPE html>
<html lang="nl">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
       <%- include('./partials/theme-button') %>
       <section class="wrapper-house">
         <div class="zero-state">
           <img class="image-size" src="/images/home-house-svgrepo-com.svg" height="100" width="100" alt="">
           <p>Welkom bij je lijst klik <a href="https://www.funda.nl/en/zoeken/koop/?selected_area=%5B%22nl%22%5D">hier</a> om wat huizen toe te voegen</p>
           <p>of ga <a href="lijsten.ejs">terug</a></p>
         </div>
       </section>
     </main>
     <%- include('./partials/foot') %>
   </body>
</html>