<!DOCTYPE html>
<html lang="nl">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
      <%- include('./partials/theme-button') %>
      <section class="wrapper-index">
        <img src="/images/checkbox-checked-svgrepo-com.svg" alt="afbeelding-checkmark" height="100" width="100">
        <p>Gelukt. Bedankt voor je feedback.</p><br>
        <p>terug naar <a href="/index">start</a>.</p>
      </section>
    </main> 
    <%- include('./partials/foot') %>
  </body>  
</html>