@font-face {
    font-family: "proximanova";
    src: url("/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, Arial;
    width: 100%;
}
*{
    box-sizing: border-box;
}
/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
}

.no-dot {
    list-style-type: none;
}

.general-link {
    text-decoration: none;
    color: var(--blue);
}

header {
    background-color: orange;
    position: relative;
    /*max-width: 100%;*/
    width: 100%;
}
main{
    margin-inline: 2em;
}
.info-grid{
    margin-inline: 2em;
}

.log-funda {
    width: 150px;
}

.menu {
    display: flex;
    /*justify-content: space-between;*/
    width: 100%;
}

.hamburger-icon {
    position: relative;
    left: 2em;
    top: -1em;
    background-color: var(--white);
}

.hamburger-icon:hover {
    background-color: var(--blue);
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu-ul-open {
    display: block;
    margin-top: 0;
}

.main-picture {
    width: 300px;
    /*max-width: 480px;*/
}

.images-next-to-main-image {
    display: none;
    width: 150px;
}

.small-images-carousel {
    width: 100px;
}

.carousel-images {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    width: 20em;
}

h2 {
    border-bottom: 1px solid black; /* This adds a 2px solid black border under your h2 elements */
}

.buttons-navigation {

}

.buttons-navigation-text {
    font-size: 1.2em;
    text-decoration: none;
}

.buttons-navigation-style,.full-description,.button-show-charactize { /*4 buttons to next describe*/
    font-size: 1em;
    background-color: var(--white);
    border: 0;
    line-height: 2;
    color: var(--blue);
}
.general-link:hover {
    text-decoration: underline;
}

.hide-description, .hide-characterize {
    display: none;
}
.search-button,.checkvalue,.more-info-table,.send-email{
    font-size: 1em;
    background-color: #F8B73E;
    border-radius: 20px;

    border: 0;
    line-height: 2;
    color: #333333;
}
#kenmerk{
   font-size: 1em;
}
.open-description, .open-characterize {
    display: block;
}

dd {
    margin-left: 10em;
    margin-top: -2em;
    padding: 1em;
}
.input-field{
    width: 10em;
    /*margin-left: 10em;*/
}
.label-inputfield{
    display: inline-block;
    width: 140px;
    text-align: right;
}

table {
    border: solid #050542;
}
th {
    /*color: #FFFFFF;*/
    /*background-color: var(--sidebar-color-white);*/
    background-color: #fce8e8;
    /*border: var(--border-color-line);*/
    font-family: AvenirMedium;
    /*border: 1px solid #dddddd; !*  hier word een randje meegegeven aan de th  *!*/
    border: 0.15em solid;
    font-size: 1em;
    line-height: 1.5;
    padding: 0.5em 0.5em 0.5em 0.5em;


}

/*dit zijn de celblockej*/
td, tr {
    background-color: var(--white);
    /*border: var(--border-color-line);*/
    /*font-family: AvenirMedium;*/
    border: 0.15em solid;
    font-size: 1em;
    line-height: 1.5;
    /*margin: var(--margin-1em);*/
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.broker-add {
    /*background-color: red;*/
    height: 15em;
    width: 20em;
    /*margin-left: 5em;*/
    grid-row: 1;
    grid-column: 2;
    margin-inline: 2em;
}

.commercial-add {
    /*background-color: orange;*/
    /*height: 20em;*/
    /*width: 10em;*/

}

@media (max-width: 580px) {
    .menu-ul {
        display: block;
        /* todo   translate toevoegen dat die van boven naar beneden gaat de interactie*/
        margin-top: -15em;
    }

    .menu-ul-open {
        display: block;
        margin-top: 0;
    }
    .input-field-address{
        /*display: grid;*/
        /*grid-auto-rows: auto auto auto;*/
    }


}


@media (min-width: 580px) {

    .hamburger-icon {
        display: none;
    }

    header {
        height: 5em;
    }

    .menu {
        display: flex;
        flex-direction: row;
        translate: 0em -4em;
        justify-content: flex-end;
        /*!*margin: 0 5em 0em 10em;*!*/
        /*position: relative;*/
        /*top: -4.5em;*/
        /*left: 8em;*/
        /*height: 0;*/
    }

    .menu-ul {
        display: flex;
        flex-direction: row;
        /*display: flex;*/
        /*flex-direction: row;*/
        /*align-items: center;*/
    }

    .menu__li {
        margin: 1em 1em 1em 1em;
    }

    .main-picture {
        width: 380px;
    }

    .small-images-carousel {
        display: none;
    }

    .carousel-images {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 30em;
    }
    .input-field-address{
        /*display: grid;*/
        /*grid-column: auto;*/
        /*grid-auto-rows: auto auto auto;*/
    }



}

@media (min-width: 768px) {
    .main-picture {
        width: 720px;
    }
    .info-grid { /*sections*/

        margin-inline: 2em;
    }
}

@media (min-width: 992px) {
    /*grid elemetnen*/
    .gridcontainer {
        display: grid;
        grid-template-columns: 35em 1fr;
        grid-template-rows: auto auto auto;
        /*gap: 10px;*/
        /*padding: 10px;*/
    }

    .grid-item { /*general is*/

        padding: 1em;

    }

    .five-images-grid { /*1ste part 5 images*/

        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .grid-container-images {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2fr for the main image, 1fr for the other images */
        grid-template-rows: auto auto;
        column-gap: 2em;
    }

    .images-next-to-main-image {
        width: 200px;
        margin: 0 1em 1em 0;
    }

    .small-images {
        display: grid;
        grid-template-columns: auto auto; /* 2fr for the main image, 1fr for the other images */
        grid-template-rows: auto auto;
        /*column-gap: 1em;*/
    }

    .carousel-grid { /*overflow plattegrond 60 video*/
        /*grid-area: 2 / 1;*/
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .info-grid { /*sections*/
        display: grid;
        /*grid-area: 3 / 1;*/
        grid-row-start: 3;
        grid-column-start: 1;
        margin-inline: 2em;
    }

    .broker-add {
        display: grid;
        /*grid-area: 3 / 2;*/
        grid-row-start: 3;
        grid-column-start: 3;
        margin-left: 0em;
        margin-top: 3em;
        /*translate: 5em 15em;*/
    }

    /*specifieke elemeten*/
    .buttons-navigation {
        /*border: solid #050542;*/
        width: 35em;
    }

    .images-next-to-main-image {
        display: block;
        width: 210px;
    }

    .main-picture {
        grid-column: 1;
        grid-row: 1;
        width: 484px;
    }

    .images-houses-2 {
        grid-column: 2;
        grid-row: 1;
    }

    .images-houses-3 {
        grid-column: 2;
        grid-row: 2;
    }

    .images-houses-4 {
        grid-column: 3;
        grid-row: 1;
    }

    .images-houses-5 {
        grid-column: 3;
        grid-row: 2;
    }

    .container-info-broker {
        display: grid;
        grid-template-columns: 20em 1fr;
        grid-auto-rows: 1fr 1fr;
    }

    .info-house {
        grid-column: 1;
        grid-row: 1;
    }

}